extends layout

block content
  #showcase
    div.container
      h1 Bienvenue sur une application d'authentification !
      p Veuillez vous 
        a(href='/auth/login') connecter
        |  ou 
        a(href='/auth/register') créer un compte
